.annotation p {padding: 25px; color: #333; background-color: #eee; border-radius: 25px 0 25px 25px;}
#neo-head::after {content: "Neopenda"; position: absolute; top: 8vh; left: 2vw; font-weight: lighter; font-size: 7em; color: rbga(256, 256, 256, 1);}
.slider-long-arrow-white {background-color: #eee; padding: 40px; border-radius: 50%;}

.active {background-image: url(images/underline.png)!important; background-position: 50% 70%!important; background-repeat: no-repeat!important; background-size: contain!important;}
i.ti-angle-down {font-size: 1.3em!important;}
.finalversion-tab a {background-color: #ddd!important;}
.finalversion-tab.active a {background-color: #fff!important;}

.arrowswitch:active {}
.panel-heading.active-accordion a div span {transform: rotate(180deg);}

.special-num-1::before {
  content: "01";
  font-size: 6em;
  color: #eee;
  position: absolute;
  font-weight: 900;
  z-index: -1;
  top: 25px;
  left: -15px;
}
.special-num-2::before {
  content: "02";
  font-size: 6em;
  color: #eee;
  position: absolute;
  font-weight: 900;
  z-index: -1;
  top: 25px;
  left: -15px;
}
.special-num-3::before {
  content: "03";
  font-size: 6em;
  color: #eee;
  position: absolute;
  font-weight: 900;
  z-index: -1;
  top: 25px;
  left: -15px;
}
.special-num-a::before {
  content: "A";
  font-size: 6em;
  color: #eee;
  position: absolute;
  font-weight: 900;
  z-index: -1;
  top: 25px;
  left: -15px;
}
.special-num-b::before {
  content: "B";
  font-size: 6em;
  color: #eee;
  position: absolute;
  font-weight: 900;
  z-index: -1;
  top: 25px;
  left: -15px;
}
.special-num-c::before {
  content: "C";
  font-size: 6em;
  color: #eee;
  position: absolute;
  font-weight: 900;
  z-index: -1;
  top: 25px;
  left: -15px;
}
.special-num-d::before {
  content: "D";
  font-size: 6em;
  color: #eee;
  position: absolute;
  font-weight: 900;
  z-index: -1;
  top: 25px;
  left: -15px;
}
.special-num-1, .special-num-2, .special-num-3, .special-num-a, .special-num-b, .special-num-c, .special-num-d {z-index: 200; padding-top: 25px; padding-bottom: 25px;}
