.annotation p {padding: 25px; color: #fff; background-color: #358099; border-radius: 25px 0 25px 25px;}
#neo-head::after {content: "Neopenda"; position: absolute; top: 8vh; left: 2vw; font-weight: lighter; font-size: 7em; color: rbga(256, 256, 256, 1);}
.slider-long-arrow-white {background-color: #eee; padding: 40px; border-radius: 50%;}

.active {background-image: url(images/underline.png)!important; background-position: 50% 70%!important; background-repeat: no-repeat!important; background-size: contain!important;}
